html {
  text-rendering: optimizeLegibility;
  text-size-adjust: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: size-desktop($font-base);

  @include tablet {
    font-size: size-tablet($font-base);
  }

  @include mobile {
    font-size: size-mobile($font-base);
  }
}

body {
  min-width: $width-min;
  width: 100%;
  margin: 0;
  padding: 0;

  @include text-main;
  font-family: $font-family;
  font-weight: 400;
  color: $color-black;

  background-color: $color-grey;
  overflow-x: hidden;
}

main {
  @include tablet {
    padding-top: size(72px);
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:not([href]) {
    cursor: default;
    pointer-events: none;
  }
}

button {
  padding: 0;
  font: inherit;
  color: inherit;
  background: none;
  border: 0;
  cursor: pointer;

  &[disabled] {
    pointer-events: none;
  }
}

input {
  box-sizing: border-box;
}

svg {
  pointer-events: none;
}

fieldset {
  border: none;
  padding: 0;

  ul {
    @include list-reset;
  }
}

.popup-opened,
.menu-opened {
  position: fixed;
  overflow-y: scroll;
}

.landing {
  background-color: $color-white;
}

.container {
  padding: 0 1rem 1rem;
}

.grid-block {
  @include grid(12);
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    @include columns(8);
  }

  @include mobile {
    @include columns(2);
  }
}

.page-content {
  margin-top: size(40px);

  @include tablet {
    margin-top: size(23px);
  }

  @include mobile {
    margin-top: size(28px);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mobile {
  display: none;

  @include mobile {
    display: block;
  }
}
