extends pug/layout.pug

block variables
  - let isMain = true;
  - let bodyClasses = 'landing';

block content
  .container.grid
    h1.visually-hidden #{mainTitle}
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque expedita explicabo sed odit, corporis modi odio officiis perferendis corrupti? Illo ipsam velit distinctio nisi repudiandae qui corrupti mollitia fugit molestiae.
    section
      .arrow-inner
