$width-desktop: 1280px;
$width-laptop:  1024px;
$width-tablet:   768px;
$width-mobile:   480px;
$width-min:      320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-family: "PTSans", "Arial", sans-serif;

$color-black: #333438;
$color-grey-black: #2f3542;
$color-white: #ffffff;

$color-grey: #f1f2f6;
$color-pink: #ff6b81;
$color-blue: #3742fa;
$color-blue-bg: #1e90ff;
$color-grey-bg: #d7d6d6;
$color-orange: #ff7f50;
$color-red: #ff4757;
$color-green: #00b894;

$color-form-bg: #c9e7e5;
